*{
	box-sizing: border-box;
	text-align: center;
}
body,html{
	font-size: 18px;
	margin: 0;
	padding: 0;
	font-family: "helvatica";

}
/*header*/
.navbar{
	background-color: #4d4d4d!important;

	/*padding-bottom: 40px;*/
}
a.col{
	color: white!important;
}
a.col:hover{
	text-decoration: underline;
	color: blue;
	background-color: orange;
}
a.col:active,a.col:focus,a.col:visited,.btn:active,.btn:focus,.btn:visited{
	
	color: red/*!important*/;
	background-color: green/*!important*/;
}
/* jumbtron*/
.picture{
	
	background:url(../image/img_1.jpg) center center no-repeat;
	background-size: cover;
	background-attachment: fixed;

	position: relative;
	top:0;
	height: 100%;
}

#wraper{
	position: relative;
	margin-top: 5.1%;
	/*border:1px solid green;*/
	height: 500px;
}
.element{
	display: inline-
	block;
	margin-top: 100px;
	/*position: relative;
	top:30%;
	left:10%;
	right:0;
	bottom: 0;*/
}
#scroll_1{
	position: absolute;
	top:70%;
	left:50%;
}
/*section 2 who am I*/
.left_slick p{
	text-align: left;
	margin-left: 10%;
}
/*who am I*/
.btn:hover{
	text-decoration: underline;
	color: blue;
	background-color: orange;
}
.photo{
	background: url(../image/image_1.jpg) center center no-repeat;
	background-size: cover;
	height: 600px;

}
.photo h1{
	color: yellow;
}


/*start of portfolio*/

.folder{
	/*background-color: #e6e6e6;*/
	padding:5% 0 5% 0;
	/*background-color: pink;*/
}

#slick{
	background-color: #e6e6e6;
}
#port{
	background-color:rgba(74, 79, 89,0.8)  ;
}
.portfolio,.certify,.credit{
	margin-top:3.5%;
	}
.certify{
	
	padding-top: 2%;
	margin: 0 auto;
}

.portfolio h1{
	padding-top: 200px;
}
.thumbnail.pic{
	width: 400px;
	height: auto;
	position: relative;
}
.section-heading h1{
	text-transform: uppercase;
	margin: 0 0 1% 0;
}
ul.text li {
	list-style: none;
	text-align: center;
}

.sub{
	margin-top: 2%;
	color:purple!important;
	font-size: 1.4rem!important;
	
}
.text i.fa{
	color: white;
}


/*end of portfolio*/
.element{

	color: black;
	font-size: 2.5rem;
	text-transform: uppercase;
}
/* right side image*/
img.car{
	width:250px;
	height: 250px;
}

.contact{
background: transparent;
position:absolute; 
top: 400px; 
left: 400px;
}
/* certification*/

.cer-content{
	background-color:rgb(238, 219, 224);
	padding:2%;
}
.cer-content img{
  opacity: 0.9;
  width: 100%;
  height: 400px;
  transition: .5s transform,
              .5s opacity;
}

.cer-content img:hover{
  opacity: 1;
  transform: scale(0.99);
}

/* contact us*/

#success{
	
	background: url(../image/img_contact.jpg) center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	}
ul {
	list-style: none;
}
i.profile {
	color: rgba(203, 87, 66,0.9);
	line-height: 2rem;
	font-weight: 700;
}
/*footer */
#end{
	background-color: #4d4d4d;
	height: 300px;
	margin-top: 0;
}

.aboutMe ul{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.aboutMe ul li{
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  border-radius: 50%;
  background: white;
  list-style: none;
  line-height: 30px;
 margin-top: 150px;
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
.aboutMe p{
	margin-top: 1.5%;
}
.aboutMe ul li:hover{
	background: orange;
}
/*scroll*/
#scroll_1 i.fa,#scroll i.fa{
	color: rgb(244, 66, 66)}
.container {
  
  background-color: white;
  padding:2%;
}

.ima {
  display: block;
  width: 100%;
  
}

.overlay {
  background: rgba(0,0,0,0.5);
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/*media query*/
@media only screen and (max-width: 480px){
	body,html{
		font-size:16px;
		background-color: rgba(0, 0, 0, 0.9);
		
	}
	.thumbnail.pic,.cer-content{
	width: 100%;
}

.element,.pic h5{

	color: orange;
	font-size: 2rem;
	 
		}
	h1{
		font-size:  1.5rem;
		color: purple;
	}
	.sub{
		font-size:  1rem!important;
		color: blue!important;
	}
	.btn{
		color: red;
		font-size: 1rem;
		 background-color: #4CAF50;
		 /*padding: 0 5% 0 5%;*/
		 width:30%;
		 padding-left: 0 0.1% 0 0.1%;
		 margin: 0.5%;
		 display:inline-block;

	}
	.btn:nth-child(1),.btn:nth-child(2),.btn:nth-child(4){
		padding: 3px;
		margin:0 5px 0 3px; 
		color: purple;
		width:20%;
	}
	.btn:hover{
		background-color: rgba(255,255,255,0.8);

	}
}
@media only screen and (min-width: 481px) and (max-width: 768px){
	body,html{
		font-size:18px;
		background-color: rgb(66, 134, 244);
	}
	
.element,.pic h5{

	color: blue;
	font-size: 2rem;
	
}
h1{
		font-size:  1.5rem;
		color: black;
	}
	.sub{
		font-size:  1rem!important;
		color: purple!important;
	}
	.thumbnail.pic,.cer-content{
	width: 100%;
}
}


